@model ZCMS.Core.Business.Content.ZCMSContent<ZCMS.Core.Business.Content.ZCMSPage>
@{
    Layout = "~/Core/Frontend/Views/Shared/_frontendLayout.cshtml";
    var fbApiKey = !String.IsNullOrEmpty(Model.FacebookApiKey) ? Model.FacebookApiKey : "";
    var twCnsKey = !String.IsNullOrEmpty(Model.TwitterConsumerKey) ? Model.TwitterConsumerKey : "";
    var cmtsAllowed = Model.Instance.Properties.Any(p => p is ZCMS.Core.Business.Content.BooleanProperty && p.PropertyName == "Allow comments" && p.PropertyValue!=null && (bool)p.PropertyValue == true);
}

@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Scripts.Render("~/bundles/FrontEnd")

    <div>
    @if(Model.Instance == null)
    {
        <div>No pages was returned </div>
        <span>@Model.GetMetadataValue("Reasons")</span>
    }
    else 
    {
             
        
        foreach (var item in Model.Instance.Properties.Where(p => p.DisplayType == ZCMS.Core.Business.DisplayType.Everywhere))
        {
            @Html.DisplayFor(d => item)
            // byline
            if (item.PropertyName.Equals("Article Heading"))
            {
                <div class="byline">
                    <span>@CMS_i18n.FrontendResources.BylinePublishedOn @Model.Instance.StartPublish.ToString(CMS_i18n.Formats.DateFormat) by @Model.Instance.WrittenBy</span>
                </div>
            }
        }

        if (Model.SocialServices.Disqus.Activated && cmtsAllowed)
        {
            @Html.Raw(Model.SocialServices.Disqus.JsIntegration)
        }

    }
    </div>

<div style="background: #c0c0c0; padding: 1em;"><i><small>We found the requested page; @Model.Instance.PageName and we have sufficient permissions to display it!</small></i></div>
        