@model ZCMS.Core.Auth.Business.ZCMSUser
@{
    ViewBag.Title = "Logon...";
    Layout = "~/Core/Auth/Views/Shared/_authenticationLayout.cshtml";
    var returnUrl = ViewData["ReturnUrl"] != null ? ViewData["ReturnUrl"].ToString() : String.Empty;
}

@if (ViewData["LogonFail"] != null)
{
    <div class="logon-failed">@ViewData["LogonFail"].ToString()</div>
}
<div class="logintop">
    @CMS_i18n.Auth.LoginTopMessage
</div>
@{ Html.BeginForm("SignIn", "Authentication", null, FormMethod.Post);}
<div id="LogonWrapper">

    <div class="logon-label">
        @CMS_i18n.Auth.UsernameLabel:
    </div>

    <div class="logon-control">
        @Html.TextBoxFor(m => m.Username)
    </div>

    <div class="logon-label">
        @CMS_i18n.Auth.PasswordLabel:
    </div>

    <div class="logon-control">
        @Html.PasswordFor(m => m.Password)
    </div>

    <div class="logon-label">
        &nbsp;
        @Html.HiddenFor(m => m.ReturnUrl)
    </div>

    <div class="logon-control">
        <input type="submit" name="go" value="@CMS_i18n.Auth.LogonButtonLabel" />
    </div>
</div>






@{ Html.EndForm(); }