@model List<ZCMS.Core.Business.Content.ZCMSFileDocument>
@{

}
<div id="FileManagerListing">
<div class="file-md-hr">
    <div class="file-md-hc">&nbsp;</div>
    <div class="file-md-hc">Name</div>
    <div class="file-md-hc">Created</div>
    <div class="file-md-hc">Description</div>
    
</div>

@foreach(var item in Model) 
{
    var fileIcon = "/Content/Backend/Images/Formats/" + @item.Extension + ".png";
    <div class="file-md-ir">
    <div class="file-md-ic"><img src="@fileIcon" alt="" /></div>
    <div class="file-md-ic" title="@item.FileName">@item.FileName</div>
    <div class="file-md-ic">@item.Created.ToString()</div>
    <div class="file-md-ic">@item.Description</div>
    <div class="file-md-ic"><img class="file-edit" src="/Content/Backend/Images/edit_pencil.png" data-operation="edit" data-val="@item.FileKey" style="cursor: pointer;" alt="edit" /></div>
    <div class="file-md-ic"><img class="file-delete" src="/Content/Backend/Images/trash.png" data-operation="delete" data-val="@item.FileKey" style="cursor: pointer;" alt="edit" /></div>
    
    </div>
}
</div>