@model ZCMS.Core.Business.Content.ZCMSPage
@System.Web.Optimization.Scripts.Render("~/bundles/BackendScriptsPage")

<div class="page-editor-tools-save">
    <a href="javascript:void(0);" id="save-publish-page">
        <img border="0" src="@Url.Content("~/Content/Backend/images/arrow_up.png")" alt="-" title="@CMS_i18n.BackendResources.SavePublishPage" />
        <span class="page-actions">@CMS_i18n.BackendResources.SavePublishPage</span>
    </a>
    </div>
<div class="page-editor-tools-save-draft">
    <a href="javascript:void(0);" id="save-draft-page">
        <img border="0" src="@Url.Content("~/Content/Backend/images/diskette.png")" alt="-" title="@CMS_i18n.BackendResources.SaveDraftPage" />
        <span class="page-actions">@CMS_i18n.BackendResources.SaveDraftPage</span>
    </a>
</div>
<div class="page-editor-tools-versions">
    <a href="javascript:void(0);" id="view-document-versions" data-val="@Model.PageID">
        <img border="0" src="@Url.Content("~/Content/Backend/images/history2.png")" alt="-" title="@CMS_i18n.BackendResources.ViewDifferentVersions" />
        <span class="page-actions">@CMS_i18n.BackendResources.ViewDifferentVersions</span></a>
    
</div>
<div class="page-editor-tools-view">
    <a href="@Url.Action("ViewPage", "Frontend", new { pageId = Model.PageID })" id="view-document">
        <img border="0" src="@Url.Content("~/Content/Backend/images/eye_open.png")" alt="-" title="@CMS_i18n.BackendResources.ViewPage" />
        <span class="page-actions">@CMS_i18n.BackendResources.ViewPage</span>
    </a>
    
</div>
<div class="page-editor-tools-delete">
    <a href="@Url.Action("ViewPage", "Frontend", new { pageId = Model.PageID })" id="delete-document">
        <img border="0" src="@Url.Content("~/Content/Backend/images/trash_can.png")" alt="-" title="@CMS_i18n.BackendResources.DeletePage" />
        <span class="page-actions">@CMS_i18n.BackendResources.DeletePage</span>        
    </a>
    
</div>

<div class="norevs" style="display:none;">@CMS_i18n.BackendResources.NoRevisions</div>
<div class="noupload" style="display:none;">@CMS_i18n.BackendResources.NoUpload</div>
<div id="RevisionsContainer"></div>

<div class="custom-properties-edit-wrap">
<div class="meta-wrap">
<div class="edit-unit">
<div class="edit-top-nw">
    @Html.Label(CMS_i18n.BackendResources.PageID):

    <span id="CurrentPage">@Html.DisplayFor(m => m.PageID)</span>

    @Html.Label(CMS_i18n.BackendResources.PageStatus):

    @Html.Label(Model.Status.ToString())
</div>
<div class="meta-unit">
<div class="meta-label">
    @CMS_i18n.BackendResources.PageCreatedBy
</div>
<div class="meta-label">
    @Model.WrittenBy
</div>
<div class="meta-label">
    @CMS_i18n.BackendResources.DatePrompt @Model.Created.ToString(String.Format("{0}", CMS_i18n.Formats.DateFormat))
</div>
</div>
<div class="meta-unit">
<div class="meta-label">
    @CMS_i18n.BackendResources.PageLastModifiedBy
</div>
<div class="meta-label">
    @Model.LastChangedBy
</div>
<div class="meta-label">
    @CMS_i18n.BackendResources.DatePrompt @Model.LastModified.ToString(String.Format("{0}", CMS_i18n.Formats.DateFormat))
</div>
</div>
<div class="edit-top-save">
    
    @if (TempData["DocumentSaved"] != null)
    {
        <div class="save-success">@TempData["DocumentSaved"].ToString()</div>
    }
</div>
</div>
</div>
<div class="meta-wrap">
<div class="loader-unit">
    <img src="/Content/Backend/Images/103.gif" alt="" />
</div>
</div>
@Html.HiddenFor(m => m.PageType)
</div>