@model ZCMS.Core.Business.Content.ZCMSPage

@{
    ViewBag.Title = "EditPage";
    Layout = "~/Core/Backend/Views/Shared/_backendLayout.cshtml";
}
@{ Html.BeginForm("PageEditor", "Backend", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id="page-editor-form" }); }
<div class="editor-controls-wrap">

@Html.Partial("PageBase", Model)
<div class="custom-properties-edit-wrap">
</div>
<div class="custom-properties-edit-wrap">
@for (int i = 0; i<Model.Properties.Count; i++)
{
    <div class="edit-unit">
        @if(Model.Properties[i] is ZCMS.Core.Business.Content.RichTextProperty) {            
            <div class="unit-label">
            @Html.Label(Model.Properties[i].PropertyName):
            </div>
            <div class="unit-unit">
            @Html.HiddenFor(m => m.Properties[i].PropertyType)
            @Html.HiddenFor(m => m.Properties[i].PropertyName)
            @Html.HiddenFor(m => m.Properties[i].Order)
            @Html.HiddenFor(m => m.Properties[i].PropertyValidator.GetType().FullName)
                        
            @Html.EditorFor(m => ((ZCMS.Core.Business.Content.RichTextProperty)m.Properties[i]).PropertyValue)
            @Html.ValidationMessage("Properties."+Model.Properties[i].PropertyType)
            </div>
        }
        else if (Model.Properties[i] is ZCMS.Core.Business.Content.TextProperty)
        {
            <div class="unit-label">
            @Html.Label(((ZCMS.Core.Business.Content.TextProperty)Model.Properties[i]).PropertyName):
            </div>
            <div class="unit-unit">
            @Html.HiddenFor(m => m.Properties[i].PropertyType)
            @Html.HiddenFor(m => m.Properties[i].PropertyName)
            @Html.HiddenFor(m => m.Properties[i].Order)
            @Html.HiddenFor(m => m.Properties[i].PropertyValidator)
            
            @Html.TextBoxFor(m => m.Properties[i].PropertyValue, new { @class = "text-box single-line" })
            @Html.ValidationMessage("Properties."+Model.Properties[i].PropertyType)
            </div>
        }
        else if (Model.Properties[i] is ZCMS.Core.Business.Content.MultiLineTextProperty)
        {
            <div class="unit-label">
            @Html.Label(((ZCMS.Core.Business.Content.MultiLineTextProperty)Model.Properties[i]).PropertyName):
            </div>
            <div class="unit-unit">
            @Html.HiddenFor(m => m.Properties[i].PropertyType)
            @Html.HiddenFor(m => m.Properties[i].PropertyName)
            @Html.HiddenFor(m => m.Properties[i].Order)
            @Html.HiddenFor(m => m.Properties[i].PropertyValidator)

            @Html.TextAreaFor(m => m.Properties[i].PropertyValue, new { @class="multilinetextproperty" })
            @Html.ValidationMessage("Properties."+Model.Properties[i].PropertyType)
            </div>
        }
        else if (Model.Properties[i] is ZCMS.Core.Business.Content.BooleanProperty)
        {
            <div class="unit-label">
            @Html.Label(((ZCMS.Core.Business.Content.BooleanProperty)Model.Properties[i]).PropertyName):
            </div>
            <div class="unit-unit">
            @Html.HiddenFor(m => m.Properties[i].PropertyType)
            @Html.HiddenFor(m => m.Properties[i].PropertyName)
            @Html.HiddenFor(m => m.Properties[i].Order)
            @Html.HiddenFor(m => m.Properties[i].PropertyValidator)

            @Html.EditorFor(m => m.Properties[i].PropertyValue)
            </div>
        }
        else if (Model.Properties[i] is ZCMS.Core.Business.Content.ImageListProperty)
        {
            <div class="unit-label">
                
            @Html.Label(((ZCMS.Core.Business.Content.ImageListProperty)Model.Properties[i]).PropertyName):
            </div>
            <div class="unit-unit">
            @Html.HiddenFor(m => m.Properties[i].PropertyType)
            @Html.HiddenFor(m => m.Properties[i].PropertyName)
            @Html.HiddenFor(m => m.Properties[i].Order)
            <a href="javascript:void(0);" class="file-selector">@CMS_i18n.BackendResources.FileManagerLaunch</a>
            @if (((List<string>)Model.Properties[i].PropertyValue).Count >= 6)
            {
                <span class="too-many-images">@CMS_i18n.BackendResources.FileManagerNoMoreFilesAllowed</span>
            }
            @Html.EditorFor(m => ((ZCMS.Core.Business.Content.ImageListProperty)m.Properties[i]).PropertyValue)
            </div>
        }
        else if (Model.Properties[i] is ZCMS.Core.Business.Content.TagsProperty)
        {
            <div class="unit-label">
            @Html.Label(((ZCMS.Core.Business.Content.TagsProperty)Model.Properties[i]).PropertyName):
            </div>
            <div class="unit-unit">
            @Html.HiddenFor(m => m.Properties[i].PropertyType)
            @Html.HiddenFor(m => m.Properties[i].PropertyName)
            @Html.HiddenFor(m => m.Properties[i].Order)
            
            @Html.EditorFor(m => ((ZCMS.Core.Business.Content.TagsProperty)m.Properties[i]).PropertyValue)
            </div>            
        } else if (Model.Properties[i] is ZCMS.Core.Business.Content.DateProperty) 
        {
            <div class="unit-label">
            @Html.Label(((ZCMS.Core.Business.Content.DateProperty)Model.Properties[i]).PropertyName):
            </div>
            <div class="unit-unit">
            @Html.HiddenFor(m => m.Properties[i].PropertyType)
            @Html.HiddenFor(m => m.Properties[i].PropertyName)
            @Html.HiddenFor(m => m.Properties[i].Order)
            @Html.HiddenFor(m => m.Properties[i].PropertyValidator)
            
            @Html.TextBoxFor(m => m.Properties[i].PropertyValue, new { @class = "datefield", type = "date"  })
            @Html.ValidationMessage("Properties."+Model.Properties[i].PropertyType)
            </div>         
        } else if(Model.Properties[i] is ZCMS.Core.Business.Content.DisplayOnlyTextProperty)
        {
            <div class="unit-label">
            @Html.Label(((ZCMS.Core.Business.Content.DisplayOnlyTextProperty)Model.Properties[i]).PropertyName):
            </div>
            <div class="unit-unit">
                /<span style="font-style: italic;" id="url-slug">@(Model.Properties[i].PropertyValue!=null ? Model.Properties[i].PropertyValue.ToString() : String.Empty)</span>                
                @Html.HiddenFor(m => m.Properties[i].PropertyType)
                @Html.HiddenFor(m => m.Properties[i].PropertyName)
                @Html.HiddenFor(m => m.Properties[i].Order)
                @Html.HiddenFor(m => m.Properties[i].PropertyValue, new { @class = "actual-property-value" })
            </div>
        }
        else {
            @Html.EditorFor(m => m.Properties[i].PropertyValue)
        }
    
    </div>
}
</div>
</div>

@{ Html.EndForm(); }

<!-- modal -->
<div id="modal" style="display:none">
<div class="cmsModalInner">
</div>
</div>
<img src="@Url.Content("~/Content/Backend/Images/small_delete.png")" id="modal-close" alt="" style="display:none;" />