@model ZCMS.Core.Business.Content.ZCMSPage
@{
    ViewBag.Title = "EditPage";
    Layout = "~/Core/Backend/Views/Shared/_backendLayout.cshtml";
    var tab1 = Model.Properties.Where(m => m.DisplayInTab == ZCMS.Core.Business.Tab.Tab1).ToList();
    var tab2 = Model.Properties.Where(m => m.DisplayInTab == ZCMS.Core.Business.Tab.Tab2).ToList();
    var tab3 = Model.Properties.Where(m => m.DisplayInTab == ZCMS.Core.Business.Tab.Tab3).ToList();

    
}
@{ Html.BeginForm("PageEditor", "Backend", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id="page-editor-form" }); }

<div class="editor-controls-wrap">

@Html.Partial("PageBase", Model)
<div id="zcms-tabs">
    <ul>
		<li><a href="#zcms-tab-unit-1">General</a></li>
		<li><a href="#zcms-tab-unit-2">Content</a></li>
		<li><a href="#zcms-tab-unit-3">More</a></li>
	</ul>
<div id="zcms-tab-unit-1">
<div class="page-edit-top">
       
<div class="edit-top-label">
    @Html.LabelFor(model => model.PageName):
</div>
<div class="edit-top-unit">
    @Html.EditorFor(model => model.PageName)
    @Html.ValidationMessage("PageName.PageName")
</div>
</div>
<div class="page-edit-top">        
<div class="edit-top-label">
    @Html.LabelFor(m => m.StartPublish):
</div>
<div class="edit-top-unit">
    @Html.EditorFor(m => m.StartPublish, new { @class = "datefield", type = "date"  })
    @Html.ValidationMessage("StartPublish.StartPublish")
</div>  
</div>
<div class="page-edit-top">
<div class="edit-top-label">
     @Html.LabelFor(m => m.EndPublish):
</div>
<div class="edit-top-unit">
     @Html.EditorFor(m => m.EndPublish, new { @class = "datefield", type = "date"  })
     @Html.ValidationMessage("EndPublish.EndPublish")
</div> 
</div>
@Html.Partial("PageProperties", Model.Properties, new ViewDataDictionary() {{ "tabstart", 0 }, { "tabend", tab1.Count }})
<!-- permission set -->
<div class="custom-properties-edit-wrap">
<div class="edit-top-label">
     @Html.Label(CMS_i18n.BackendResources.PagePermissions):
</div>
<div class="edit-top-unit">
     @Html.DropDownList("PermissionSet")
</div> 
</div>
<!-- permission set end -->
</div>
<div id="zcms-tab-unit-2">
@Html.Partial("PageProperties", Model.Properties, new ViewDataDictionary() {{ "tabstart", tab1.Count }, { "tabend", tab1.Count+tab2.Count }})
</div>
<div id="zcms-tab-unit-3">
@Html.Partial("PageProperties", Model.Properties, new ViewDataDictionary() {{ "tabstart", Model.Properties.Count-tab3.Count }, { "tabend", Model.Properties.Count }})
</div>
</div>
</div>
@{ Html.EndForm(); }

<!-- modal -->
<div id="modal" style="display:none">
<div class="cmsModalInner">
</div>
</div>
<img src="@Url.Content("~/Content/Backend/Images/small_delete.png")" id="modal-close" alt="" style="display:none;" />