
@{
    var menuItems = (List<ZCMS.Core.Business.ZCMSMenu>)ViewData["MenuData"] as List<ZCMS.Core.Business.ZCMSMenu>;
 }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/tinymce")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
    @System.Web.Optimization.Scripts.Render("~/bundles/BackendScriptsCommon")
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")    
    @System.Web.Optimization.Styles.Render("~/Content/css/backend/main")
    
</head>
<body>

    <div id="PageWrap">
        <div id="Header">
            <div id="LogoContainer">
                <img src="~/Content/backend/images/cmslogo.png" alt="" />
            </div>
            <div id="right-top">
                @HttpContext.Current.User.Identity.Name, @Html.ActionLink(CMS_i18n.Auth.Logout, "SignOut", new { Controller = "Authentication", Action = "SignOut" }, new { @class = "logoutlinktop" })
            </div>
        </div>
        <div id="MainContainer">
            <div id="LeftContainer">
                @Html.Partial("LeftMenu", menuItems)</div>

            <div id="RightContainer">@RenderBody()</div>

        </div>
        <div class="clearfooter"></div>
        <div id="PageFooter">
        </div>
    </div>

</body>
</html>
