@model ZCMS.Core.Business.ZCMSFileDocument
@{
    IEnumerable<SelectListItem> contentTypeItems = ViewData["AvailableContentTypes"] as IEnumerable<SelectListItem>;
}
<div class="file-edit-wrap">
    <script type="text/javascript">
        $(function () {
            $(".apply-effect").click(function () {
                ApplyImageEffect($(this).attr('data-val'), $(".file-edit-image img"));
            });
        });

    </script>

    <div class="file-edit-row">
        <div class="file-col">@Html.LabelFor(model => model.FileName)</div>
        <div class="file-col">@Html.TextBoxFor(model => model.FileName)</div>
    </div>
    <div class="file-edit-row">
        <div class="file-col">@Html.LabelFor(model => model.ContentType)</div>
        <div class="file-col">
        @Html.DropDownList("file-content-type", contentTypeItems)
        </div>
    </div>

    <div class="file-edit-row">
        <div class="file-edit-contents">
            @if (Model.FileType == ZCMS.Core.Business.FileType.ImageFile)
            {
                <div class="file-edit-image">
                    <img src="@Url.Action("GetCurrentImage", new { key = Model.FileKey })" data-val="@Model.FileKey" alt="" />
                </div>
                <div class="file-apply-effect">                    
                    <b>@CMS_i18n.BackendResources.ImageApplyEffect</b>
                </div>                
                <div class="file-apply-effect">                    
                    <a href="javascript:void(0);" class="apply-effect" data-val="sepia">@CMS_i18n.BackendResources.ImageApplySepia</a>
                </div>
                <div class="file-apply-effect">                    
                    <a href="javascript:void(0);" class="apply-effect" data-val="rotate">@CMS_i18n.BackendResources.ImageApplyRotate</a>
                </div>                
                <div class="file-apply-effect">                    
                    <a href="javascript:void(0);" class="apply-effect" data-val="grayscale">@CMS_i18n.BackendResources.ImageApplyGrayscale</a>
                </div>
                <div class="file-progressbar" style="display:none;">
                    <img src="~/Content/Backend/Images/progress-bar.gif" alt="" />
                </div>
            }
        </div>
    </div>
</div>