@model List<ZCMS.Core.Business.Content.ZCMSFileDocument>
<div id="FileManagerFileListModal">
<script type="text/javascript">
    $(function () {
        $("#filemanager-filter-input-selector").keyup(function () {
            if ($(this).val().length > 1)
                FilterFileSelectorList($(this).val());
        });

        $("#file-manager-select-all-files").click(function () {
            if (this.checked) {
                $(".file-md-ic input[type='checkbox']").attr('checked', 'checked');
            } else {
                $(".file-md-ic input[type='checkbox']").removeAttr('checked');
            }
                
        });

        $("#file-manager-refresh").click(function () { FilterFileSelectorList(""); });
    });
</script>
    <div id="FileManagerExtensionList">        
        <div class="file-filter-label">
            @CMS_i18n.BackendResources.FileManagerFilterByFreeText
        </div>
        <div class="filter-input-text">
            @Html.TextBox("filemanager-filter-input-selector", null, new { @class = "file-manager-filter-input" })
        </div>
        <div class="filter-input-refresh">
            <a href="javascript:void(0);" id="file-manager-refresh"><img src="@Url.Content("~/Content/Backend/Images/little_refresh.png")" alt="" /></a>
        </div>
    </div>

<div id="FileManagerSelectorListing">
<div class="file-md-hr">
    <div class="file-md-hc">@Html.CheckBox("file-manager-select-all-files")</div>
    <div class="file-md-hc">&nbsp</div>
    <div class="file-md-hc">Name</div> 
</div>

@foreach(var item in Model) 
{
    var fileIcon = "/Content/Backend/Images/Formats/" + @item.Extension + ".png";
    <div class="file-md-ir" data-val="@item.FileKey">
        <div class="file-md-ic">@Html.CheckBox(item.FileKey)</div>
    <div class="file-md-ic"><img src="@fileIcon" alt="" /></div>
    <div class="file-md-ic" title="@item.FileName">@item.FileName</div>
    </div>
}
</div>
    <div class="file-picker-save-selected">@CMS_i18n.BackendResources.FilePickerSaveSelected</div>
</div>